# python virtual environments
.venv
venv/
project/
l-venv/
venv.bak/

# history file
history.txt

# keep logs folder
!logs/.gitkeep

# eps files (exports)
*.eps

# jpg files
*.jpg

# jpg files in /static
static/*
!static/.gitkeep

# vim swap files
*.swp
*.swo

# Apple junk files
.DS_Store

# pycache
__pycache__/
