# python virtual environments
.venv
venv/
project/
l-venv/
venv.bak/

# history file
history.txt

# eps files (exports)
test.eps
*.eps

# jpg files
*.jpg
# jpg files in /static
static/*

# vim swap files
*.swp
*.swo

# Apple junk files
.DS_Store

# pycache
__pycache__/
