<!DOCTYPE html>
<html>
<head>
<title>Last generated l-string</title>
<style>
body {
	font-family: Arial, sans-serif;
}
table, tr, th{
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>

<body>
<h1> Last l-system that was generated </h1>
<table>
	<tr>
		<th> timestamp </th>
		<th> variables </th>
		<th> constants </th>
		<th> axiom </th>
		<th> rules </th>
		<th> translations </th>
		<th> iterations </th>
		<th> end string </th>
	</tr>
	<tr>
                <th> {{timestamp}} </th>
                <th> {{variables}} </th>
                <th> {{constants}} </th>
                <th> {{axiom}} </th>
                <th> {{rules}} </th>
                <th> {{translations}} </th>
                <th> {{iterations}} </th>
                <th> {{endstring}} </th>
        </tr>
</table>
<img width=800px src="
static/lastDrawing.jpg" alt="The drawing can not be shown because you restored the history.txt file with a backup or you have not ran main.py yet.">
</body>
</html>
