<!DOCTYPE html>
<html>
<head>
<style>
table, tr, th{
	border: 1px solid black;
	border-collapse: collapse;
}
table {
	width: auto;
}
</style>
</head>

<body>
<table>
	<tr>
		<th> timestamp </th>
		<th> variables </th>
		<th> constants </th>
		<th> axiom </th>
		<th> rules </th>
		<th> translations </th>
		<th> iterations </th>
		<th> end string </th>
	</tr>
	<tr>
                <th> {{timestamp}} </th>
                <th> {{variables}} </th>
                <th> {{constants}} </th>
                <th> {{axiom}} </th>
                <th> {{rules}} </th>
                <th> {{translations}} </th>
                <th> {{iterations}} </th>
                <th> {{endstring}} </th>
        </tr>
</table>
<img src="/templates/lastDrawing.eps" alt="Foto van laatste uitkomst van het l-systeem">
</body>
</html>
